* {
    margin: 0;
    padding: 0;
}

.header-sec {
    display: flex;
    align-items: center;
    padding: 10px;
}

.title h1 {
    color: rgb(7, 1, 12);
    font-size: 40px;
}

.image img {
    width: 35%;
}

.menus {
    padding: 20px;
}

.menus ul {
    text-align: center;
}

.menus ul li {
    display: inline-block;
}

.menus ul li a{
    text-decoration: none;
    margin-right: 40px;   
}

.menus ul li i{
    margin-right: 5px;
}

.banner p{
    text-align:justify;
    margin-bottom: 50px;
    padding: 200px;
    font-size: 40px;
    font-style: oblique;
    text-shadow: 2px 2px 3px;
    color: rgb(248, 237, 237);
}

.wes-banner img {
    width: 100%;
}

.wes-dresses {
    margin: 30px 0px;
}

.wes-title h1 {
    text-align: center;
    font-style: italic;
    text-shadow: 2px 2px 20px;
    color: rgb(124, 2, 2);
    font-size: 35px;
    margin-bottom: 10px;
}

.fashion-world {
    display: flex;
    justify-content: space-evenly;
    padding: 20px;
}

.fashion-descr {
    text-align: center;
}

.fashion-descr h3 {
    margin: 20px 0px;
    font-size: xx-large;
}

.fashion-descr h4 {
    font-size: 14px;
}

.fashion-descr h4 i {
    margin-right: 3px;
}

.fashion-img img {
    width: 300px;
    height: 400px;
    border-radius: 15px;
    box-shadow: rgba(17, 17, 26, 0.1) 0px 4px 16px, rgba(17, 17, 26, 0.1) 0px 8px 24px, rgba(17, 17, 26, 0.1) 0px 16px 56px;
}

.video-type {
    margin: 30px 0px;
}

.video_sec {
    padding: 20px;
}

.video_sec video {
    margin: 0px auto; 
    display: block;
}

.video_title h1 {
    text-align: center;
    text-shadow: 2px 2px 50px;
    color: #bb28d8;
    font-style:oblique;
    margin-bottom: 10px;
    font-size: 35px;
}

.copyright {
    background-color: burlywood;
    padding: 20px;
}

.copyright p {
    font-size: 16px;
    text-align: center;
}
